# Ignore node_modules (dependencies will be installed during the build)
node_modules

# Ignore build output directories
build
dist

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore logs
*.log

# Ignore temporary files
tmp
temp
*.tmp

# Ignore IDE specific files
.vscode
.idea

# Ignore macOS specific files
.DS_Store

# Ignore Expo specific files
.expo
.expo-shared

# Ignore test files
__tests__
*.spec.js
*.test.js
*.spec.ts
*.test.ts